body {
	background-color: #3aafa9;
}

div {
	border-radius: 10px;
	border: 2px solid transparent;
	background-color: #17252a;
	box-shadow: 5px 5px 5px 2px #757575;
	padding: 10px;
	text-align: center;
	width: 60%;
	margin: auto;
	color: #def2f1;
}

.email {
	text-align: left;
	vertical-align: text-top;
	width: 70%;
	height: 200px;
	border: 2px solid white;
	border-radius: 10px;
	background-color: #fff;
	font-family: "Helvetica";
}

.submit {
	margin-top: 50px;
	width: 10%;
	height: 50px;
	border: 2px solid transparent;
	border-radius: 10px;
	box-shadow: 0px 2px 2px #aed4cb;
	background-color: #3aafa9;
	color: #ffffff;
	font-family: "Papyrus";
	font-size: 18px;
	font-weight: bold;
}

label {
	color: #def2f1;
	font-size: 54px;	
	font-family: "Helvetica";
}

.output {
	border-radius: 10px;
	border: 2px solid transparent;
	background-color: #17252a;
	box-shadow: 2.5px 2.5px 2.5px 2px #757575;
	padding: 10px;
	text-align: center;
	width: 60%;
	margin: auto;
	color: #def2f1;
	font-size: 22px;
	font-family: "Helvetica";
}

.accuracy {
	border-radius: 10px;
	border: 2px solid transparent;
	background-color: #17252a;
	box-shadow: 2.5px 2.5px 2.5px 2px #757575;
	padding: 10px;
	text-align: center;
	width: 60%;
	margin: auto;
	color: #def2f1;
	font-size: 14px;
	font-family: "Helvetica";
}